{% extends 'werkstatt/base.html' %} {% load static %} {% load i18n %} {% block main_content %}
<section class="section mt-6">
	<div class="container">
		<div class="columns">
			<div class="column is-8 is-offset-2">
				<article class="blogpost article-grid">
					<div class="tags tags-container mb-2">
						{% for category in blog.categories.all %}
						<a href="{{ search_path }}?{{ category.getURLEncode }}"
							><span class="tag is-medium has-text-weight-semibold is-link is-primary mr-1">{{ category.getStringLowercase }}</span>
						</a>
						{% endfor %}
					</div>
					<h1 class="blog-header divider">{{ blog.title }}</h1>
					<p class="blog-intro divider">{{ blog.summary }}</p>
					<div class="blog-author">
						<p class="tuedo-no"><span>Tuedo</span><span>{{ blog.get_tuedo_no }}</span></p>
						<p>&nbsp;<span>{% trans 'von' %}</span>&nbsp;<span class="author"> {{ blog.author }}</span></p>
					</div>
					<div class="blog-image-container">
						<div class="calendar-comments">
							<div class="calendar">
								<div class="day" style="line-height: 1.2">{{ blog.date_posted|date:"d" }}</div>
								<div class="month-year" style="line-height: 1">{{ blog.date_posted|date:"M Y" }}</div>
							</div>
							<div class="comments">
								<span class="icon is-medium has-text-info">
									<i class="fas fa-comment fa-2x"></i>
								</span>
								<span class="comments-number">&nbsp;{{ comments_number }}</span>
							</div>
						</div>
						<div class="featured-img is-relative">
							<img src="{{request.scheme}}://{{request.META.HTTP_HOST}}{{blog.image.url}}" alt="{{blog.image_alt}}" />
							{% if blog.draft is True %}
							 	<div class="tuedo-draft"></div> 
							{% endif %}
						</div>
					</div>

					<div class="blog-content divider">{{ blog.content|safe }}</div>
					{% if blog.references %}
					<div class="blog-references">
						<ol>
							{{ blog.references|safe }}
						</ol>
					</div>
					{% endif %}
					<div class="blog-previous-next divider">
						<div>
							{% if blog_previous %}
							<a class="arrows" href="{{ blog_previous.absolute_url }}">
								<div class="icon is-large">
									<i class="fas fa-chevron-left fa-3x"></i>
								</div>
							</a>
							<div class="image-container">
								<img src="{{blog_previous.image.url}}" alt="{{blog_previous.image_alt}}" />
							</div>
							<div class="hint">
								<p>{{ blog_previous_hint }}</p>
								<a href="{{ blog_previous.absolute_url }}">{{ blog_previous.title }}</a>
							</div>
							{% endif %}
						</div>
						<div>
							{% if blog_next %}
							<div class="hint">
								<p>{{ blog_next_hint }}</p>
								<a href="{{ blog_next.absolute_url }}">{{ blog_next.title }}</a>
							</div>
							<div class="image-container">
								<img src="{{blog_next.image.url}}" alt="{{blog_next.image_alt}}" />
							</div>
							<a href="{{ blog_next.absolute_url }}">
								<div class="icon is-large">
									<i class="fas fa-chevron-right fa-3x"></i>
								</div>
							</a>
							{% endif %}
						</div>
					</div>
					{% if not comments %}
					<div class="comments_empty_message divider"><p>{{ comments_empty_message }}</p></div>
					{% endif %}
					<div class="blog-comments-container">
						{% if new_comment_html %}
						<div class="divider">{{ new_comment_html|safe }}</div>
						{% else %}
						<div class="blog-form{% if comments %} divider{% endif %}">
							<div class="blog-form-header">
								<h3>{{ comments_add_comment }}</h3>
								<span class="icon is-large">
									<i class="fa fa-user fa-2x" aria-hidden="true"></i>
								</span>
							</div>
							<div class="blog-form-body">
								<form class="comment" action="" novalidate {% for key, value in comment_form.dataset_error_msg.items %}{{key}}="{{ value }}"{% endfor %}>
									<div class="field is-relative" data-validation="required">
										<p class="help is-info field__label">&nbsp;</p>
										<p class="control has-icons-right">
											{{ comment_form.name }}
											<span class="icon is-right">
												<span class="has-text-success"><i class="fas fa-check"></i></span>
												<span class="has-text-danger"><i class="fas fa-exclamation-triangle"></i></span>
											</span>
										</p>
										<div class="help field__help">
											<p class="field__help__msg has-text-danger"></p>
										</div>
										<label for="{{comment_form.name.id_for_label}}" class="labelProxy">
											{{comment_form.name.label}}
										</label>
									</div>
									<div class="field is-relative" data-validation="email">
										<p class="help is-info field__label">&nbsp;</p>
										<p class="control has-icons-right">
											{{ comment_form.email }}
											<span class="icon is-right">
												<span class="has-text-success"><i class="fas fa-check"></i></span>
												<span class="has-text-danger"><i class="fas fa-exclamation-triangle"></i></span>
											</span>
										</p>
										<div class="help field__help">
											<p class="field__help__msg has-text-danger"></p>
										</div>
										<label for="{{comment_form.email.id_for_label}}" class="labelProxy">
											{{comment_form.email.label}}
										</label>
									</div>
									<div class="field is-relative" data-validation="required">
										<p class="help is-info field__label">&nbsp;</p>
										<p class="control has-icons-right">
											{{ comment_form.comment_body }}
											<span class="icon is-right">
												<span class="has-text-success"><i class="fas fa-check"></i></span>
												<span class="has-text-danger"><i class="fas fa-exclamation-triangle"></i></span>
											</span>
										</p>
										<div class="help field__help">
											<p class="field__help__msg has-text-danger"></p>
										</div>
										<label for="{{comment_form.comment_body.id_for_label}}" class="labelProxy"
											>{{comment_form.comment_body.label}}</label
										>
									</div>
									<input type="hidden" id="site_path" name="site_path" value="{{ blog_path }}" />
									<div class="field is-relative has-text-centered">
										<p class="control">
											<button class="button is-info">{{ btn_text }}</button>
										</p>
									</div>
								</form>
							</div>
						</div>
						{% endif %}
					</div>
					{% if comments %}
					<div class="published-comments">
						{% for comment in comments %}
						<div class="comment-item{% if comment.reply %} reply{% endif %}">
							<span class="icon is-large">
								<i class="fa fa-user fa-2x" aria-hidden="true"></i>
							</span>
							<div>
								<p class="comment-header">
									<span class="emphasized">{{ comment.comment_header.0 }}</span>
									{{ comment.comment_header.1 }} <span class="emphasized">{{ comment.name }}</span> {{ comment.comment_header.2 }}
									{{comment.date_posted|date:"d.m.Y"}} {{ comment.comment_header.3 }} {{ comment.date_posted|date:"H.i"}} {% trans 'Uhr' %}
								</p>
								<div class="comment-body">{{ comment.comment_body | linebreaks }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block additional_js_files %}
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
{% endblock %}
