{% extends 'werkstatt/base.html' %} 
{% load static %} 
{% load i18n %} 
{% block main_content %}

<section class="section mt-6 pb-0">
	<div class="container">
		<div class="columns">
			<div class="column is-8 is-offset-2">
				{% for blog in blogs %}
				<a class="" href="{{blog.absolute_url}}">
					<div class="w-cart mb-6" data-aos="fade-in" data-aos-mirror="true">
						<div class="w-cart--image is-relative"  data-aos="zoom-in">
							<img src="{{blog.image.url}}" />
							{% if blog.draft is True %}
							 	<div class="tuedo-draft"></div> 
							 {% endif %}
						</div>
						<div class="w-cart--body">
							<div class="w-cart--body-header" data-aos="fade-left">
								<h2 class="title is-2">
									{{blog.title}}
								</h2>
							</div>
							<div class="w-cart--meta is-size-5">
								<div class="w-cart--meta-date">
									<span class="icon">
										<i class="far fa-calendar-alt"></i>
									</span>
									<span>{{ blog.date_posted|date:"d.m.Y"}}</span>
								</div>
								<div class="w-cart--meta-author">
									<span class="icon">
										<i class="fas fa-user"></i>
									</span>
									<span>{{ blog.author}}</span>
								</div>
							</div>
							<div class="w-cart--summary">
								<p class="is-size-4">{{ blog.summary|truncatewords:20}}</p>
							</div>
							<div class="w-cart--tuedocontainer">
								<div class="button is-rounded w-cart--tuedocontainer-button">
									<span class="icon is-medium">
										<i class="fas fa-arrow-right fa-2x"></i>
									</span>
									{% language blog.get_language_slug %}
									<span>
										{% trans "Weiterlesen" %}
									</span>
									{% endlanguage %}
								</div>
								<div class="button is-rounded w-cart--tuedocontainer-tuedo" data-aos="fade-left">
									<span>{{blog.get_tuedo_no}}</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% if is_paginated %}
<div class="section pt-0">
	{% include "werkstatt/pagination.html"%}
</div>
{% endif %} {% endblock %}
